<html>
    <head>

    </head>

    <body>
        <h1>This Is a Form Page</h1>

        <form action='/submit' method='post'
        > 
            <input type="number" name = 'Pclass' placeholder="Pclass" required = 'required'>
            <input type="number" name = 'Age' placeholder="Age" required = 'required'>
            <input type="number" name = 'SibSp' placeholder="SibSp" required = 'required'>
            <input type="number" name = 'Parch' placeholder="Parch" required = 'required'>
            <input type="float" name = 'Fare' placeholder="Fare" required = 'required'>
            <input type="number" name = 'Sex_female' placeholder="Sex_female" required = 'required'>
            <input type="number" name = 'Sex_male' placeholder="Sex_male" required = 'required'>
            <input type="number" name = 'Embarked_Q' placeholder="Embarked_Q" required = 'required'>
            <input type="number" name = 'Embarked_S' placeholder="Embarked_S" required = 'required'>
            <button type='submit'>Predict</button>
            
        </form>



        </form>



    </body>






</html>